html
    head
        title= title
    body
        h1= title
        
        //- Add a link to go to the form to add a new custom object
        a(href="/update-cobj") Add to this table
        
        //- Display data in a table
        table
            thead
                tr
                    th Name
                    th Description
                    th Category
            tbody
                each record in crmData
                    tr
                        td= record.properties.name
                        td= record.properties.description
                        td= record.properties.category